---
import Layout from '../../../layouts/Layout.astro';
import type { Lang } from '../../../i18n/utils';
import { getEntry, render } from 'astro:content';

export function getStaticPaths() {
  return (['ru', 'uk', 'en'] as const).map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params as { lang: Lang };
const page = await getEntry('pages', `${lang}/about`);
const { Content } = await render(page!);
---

<Layout lang={lang} title={page!.data.title}>
  <article>
    <h1>{page!.data.title}</h1>
    <Content />
  </article>
</Layout>
